/**
 * Created by Pompo on 14.12.2016.
 */

html {
  height: 100%;
}

body {
  font-size: calc(12px + 2.5vw);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #333333;
}

header {
  display: flex;
  flex-wrap: nowrap;

  @include respondTo(small){
    display: block;
  }
}


.content-wrap {
  display: flex;
  align-items: stretch;
  min-height: calc(100vh - 304px);//высота шапки и футера

  @include respondTo(tablet){
    min-height: calc(100vh - 168px);//после изменений высоты шапки
  }
}

.c-section {
  max-width: 980px;
  box-sizing: border-box;
  padding: 2rem 3%;
}

.aside {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 2rem 3%;

  @include respondTo(tablet){
    width: 30%;
  }
}

.main {
  width: 75%;
  background: url('../img/bg-image.jpg') no-repeat scroll transparent 100% 100%;

  @include respondTo(tablet){
    width: 70%;
  }

  @include respondTo(mobile){
    background: none;
  }
}

.wrapper {
  flex: 1;
}

.l-col {
  text-align: center;
  padding-top: 55px;
  width: 25%;
  position: relative;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    background: url('../img/l-col_bg.png') no-repeat scroll 100% 0;
    top: -13px;
    width: 30px;
    right: 0;
    height: 224px;
    z-index: 1;
  }

  @include respondTo(desktop){
    padding-left: 3%;
    padding-right: 3%;

    & > img{
      max-width: 100%;
    }
  }

  @include respondTo(tablet){
    width: 50%;
    padding-top: 2rem;

    &:after{
      display: none;
    }
  }

  @include respondTo(small){
    width: 100%;
    padding: 1rem 0 0 2rem;
    text-align: left;
  }
}

.r-col {
  width: 25%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background: url('../img/r-col_bg.png') no-repeat scroll 0 0;
    top: -13px;
    width: 30px;
    left: 0;
    height: 224px;
    z-index: 1;
  }

  @include respondTo(tablet){
    width: 50%;
    margin: 1rem 0;

    &:before{
      display: none;
    }
  }

  @include respondTo(small){
    width: 100%;
  }
}


.c-col {
  max-width: 665px;
  width: 50%;
  overflow: hidden;

  @include respondTo(tablet){
    display: none;
  }
}

