/**
 * Created by Pompo on 20.12.2016.
 */

h1{
  font-size: 2rem;
  text-align: center;
}

p{
  margin-top: 1em;
  font-size: 1rem;
  line-height: 1.2;
}

.text-right{
  text-align: right;
}

.text-bold{
  font-weight: 600;
}